
@{
    ViewBag.Title = "Providers Page";
}


<div ng-controller="providersController" ng-init="getPendingRequests();getPendingBids();getPendingDeliveries();">

    <div class="col-md-12">
        <div class="panel">
            <ul id="myTab1" class="nav nav-tabs nav-justified">
                <li class="active"><a href="#requests" data-toggle="tab">Requests</a></li>
                <li class=""><a href="#bids" data-toggle="tab">Pending</a></li>
                <li class=""><a href="#deliveries" data-toggle="tab">Deliveries</a></li>

            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="requests">
                    <div class="row">

                        <div class="col-sm-6 col-md-3" ng-repeat="req in pendingRequest" style="margin-bottom:5px;">
                            <div class="thumbnail">
                                @*<img class="img-rounded" src="img/thumbnail-1.jpg">*@
                                <div class="caption text-center">
                                    <h3>{{req.User.Fullname}}</h3>
                                    <p>{{req.Description}} at {{req.CurrentLocation}} at {{req.DeliveryDate}}</p>
                                    <p>
                                        <a href="#"  class="btn btn-warning" role="button" ng-click="acceptRequest(req);">Accept</a>
                                        <a href="#" class="btn btn-default" role="button" ng-click="declineRequest(req);">Reject</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <div class="tab-pane" id="bids">
                    <div class="row">

                        <div class="col-sm-6 col-md-3" ng-repeat="req in pendingBids" style="margin-bottom:5px;">
                            <div class="thumbnail">
                                @*<img class="img-rounded" src="img/thumbnail-1.jpg">*@
                                <div class="caption text-center">
                                    <h3>{{req.User.Fullname}}</h3>
                                    <p>{{req.Description}} at {{req.CurrentLocation}} at {{req.DeliveryDate}}</p>
                                    <p>
                                        <a href="#" class="btn btn-warning"  ng-click="openBid(req)">Bid</a>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="deliveries">
                    <div class="row">

                        <div class="col-sm-6 col-md-3" ng-repeat="req in pendingDeliveries" style="margin-bottom:5px;">
                            <div class="thumbnail">
                                @*<img class="img-rounded" src="img/thumbnail-1.jpg">*@
                                <div class="caption text-center">
                                    <h3>{{req.Header.User.Fullname}}</h3>
                                    <p>{{req.Header.Description}} at {{req.Header.CurrentLocation}} at {{req.Header.DeliveryDate}}</p>
                                    <p>
                                        <a href="#" class="btn btn-warning" role="button" ng-if="req.IsAwarded" ng-click="confirmPayment(req)">Confirm</a>
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <script type="text/ng-template" id="newRequestModal.html">
        <div class="modal-header">
            <h4 class="modal-title">New Request</h4>
        </div>
        <div class="modal-body">
            <div class="caption text-center">
                <h3>{{newRequest.User.Fullname}}</h3>
                <p>{{newRequest.Description}} at {{ newRequest.CurrentLocation}} on {{newRequest.DeliveryDate}}</p>
                <p>
                    <a href="#" class="btn btn-warning" role="button" ng-click="$emit('callAcceptRequest');">Accept</a>
                    <a href="#" class="btn btn-default" role="button" ng-click="declineRequest()">Reject</a>
                </p>
            </div>
        </div>
        <div class="modal-footer">


        </div>
    </script>

    <div id="bidModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">My Bid</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 " style="overflow:hidden;">
                        <h3>{{newRequest.User.Fullname}} </h3>
                        <p> wants <b>{{newRequest.Description}} at {{newRequest.CurrentLocation}} on {{newRequest.DeliveryDate}}</b></p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label">
                                    My offering is
                                </label>
                                <input type="text" class="form-control" ng-model="bidRequest.Description" placeholder="Description" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    at
                                </label>
                                <input type="text" class="form-control" ng-model="bidRequest.ShopName" placeholder="Name of Shop" />

                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    for
                                </label>
                                <input type="text" class="form-control" ng-model="bidRequest.Price" placeholder="Price" />
                            </div>
                        </form>

             

                        <p>
                            <a href="#" class="btn btn-warning" role="button" ng-click="SubmitMyBid(newRequest)">Submit</a>
                            <a href="#" class="btn btn-default" role="button" data-dismiss="modal">Cancel</a>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">


                </div>



            </div>

            </div>
        </div>

    </div>



            @section scripts{
                <script>


                    App.controller('providersController', function ($scope, $http, $uibModal, $rootScope) {

                        $scope.log = function (data) {

                            console.log(data)
                        }

                        $scope.request = {};


                        $scope.openBid = function (request) {

                            $scope.newRequest = request;

                            $("#bidModal").modal('show')
                        }

                        $scope.SubmitMyBid = function (myrequest) {
                            var tData = {
                                Header: myrequest,
                                RequestID: myrequest.ID,
                                Price: $scope.bidRequest.Price,
                                ShopName: $scope.bidRequest.ShopName,
                                ShopAddress: $scope.bidRequest.ShopAddress

                            }

                            var data = JSON.stringify(tData);

                            var config = {
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8'
                                }
                            };

                            $http.post("/Providers/PlaceMyBid", data, config).then(function (response) {

                                console.log(response);

                                $('#bidModal').modal('toggle');

                                if (response.data.Result == "ERROR") {
                                    toastr.error(response.data.Message, "");
                                    return;
                                }

                            })


                        }



                        $scope.confirmPayment = function (bid) {



                            $http.post("/Providers/ConfirmPayment", data, config).then(function (response) {

                                if (response.data.Result == "ERROR") {
                                    toastr.error(response.data.Message, "");
                                    return;
                                }

                                $scope.getPendingDeliveries();

                            })

                        }


                        $rootScope.$on("callGetPendingRequests", function () {
                            $scope.getPendingRequests();
                        });

                        $rootScope.$on("callAcceptRequest", function () {

                            console.log($scope.newRequest)

                            $scope.acceptRequest($scope.newRequest);
                        });

                        $rootScope.$on("callDeclineRequest", function () {
                            console.log($scope.newRequest)
                            $scope.declineRequest($scope.newRequest);
                        });

                        $scope.acceptRequest = function (myrequest) {

                            console.log(myrequest);


                            var data = JSON.stringify(myrequest);

                            var config = {
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8'
                                }
                            };

                            $http.post("/Providers/AcceptRequest", data, config).then(function (response) {

                                console.log(response.data);

                                if (response.data.Result == "ERROR") {
                                    toastr.error(response.data.Message, "");
                                    return;

                                }



                                //  $rootScope.getPendingRequests();

                                $rootScope.$emit("callGetPendingRequests", {});

               

                            }).then(function (response) {
                                console.log(response);
                            });

                        }


                        $scope.declineRequest = function (request) {


                            console.log(request);

                            var data = JSON.stringify(request);

                            var config = {
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8'
                                }
                            };

                            $http.post("/Providers/DeclineRequest", data, config).then(function (response) {

                                console.log(response.data);

                                if (response.data.Result == "ERROR") {
                                    toastr.error(response.data.Message, "");
                                    return;

                                }

                                // $scope.getPendingRequests();
                                $rootScope.$emit("callGetPendingRequests", {});

                            }).then(function (response) {
                                console.log(response);
                            });

                        }



                        $scope.getPendingRequests = function () {




                            $http.post("/Providers/GetPendingNotifications").then(function (response) {

                                console.log(response.data);

                                if (response.data.Result == "ERROR") {
                                    toastr.error(response.data.Message, "");
                                    return;
                                }

                                $scope.pendingRequest = response.data.Records;

                            }).then(function (response) {

                                console.log(response);

                            });

                        }


                        $scope.getPendingBids = function () {


                            $http.post("/Providers/GetPendingBids").then(function (response) {

                                console.log(response.data);

                                if (response.data.Result == "ERROR") {
                                    toastr.error(response.data.Message, "");
                                    return;
                                }

                                $scope.pendingBids = response.data.Records;

                            }).then(function (response) {

                                console.log(response);

                            });

                        }




                        $scope.getPendingDeliveries = function () {


                            $http.post("/Providers/GetMyPendingDeliveries").then(function (response) {

                                console.log(response.data);

                                if (response.data.Result == "ERROR") {
                                    toastr.error(response.data.Message, "");
                                    return;
                                }

                                $scope.pendingDeliveries = response.data.Records;

                            }).then(function (response) {

                                console.log(response);

                            });

                        }



                        $.connection.hub.start().done(function () {

                            pushNotificationProxy.server.subscribeAsProvider("Providers");


                        });



                        pushNotificationProxy.client.SendRequestToProviders = function (request) {

                            console.log(request);

                            var data = JSON.stringify(request);

                            var config = {
                                headers: {
                                    'Content-Type': 'application/json; charset=utf-8'
                                }
                            };


                            if ($scope.pendingRequest == null) {
                                $scope.pendingRequest = [];
                            }

                            $scope.pendingRequest.push(request);
                            $scope.newRequest = request;
                            $scope.$apply();


                            $http.post("/Providers/SendToMyNotifications", data, config).then(function (response) {

                                console.log(response.data);


                            }).then(function (response) {

                                console.log(response);

                            });

                            toastr.info("A new request has been received!", "");

                            //$uibModal.open({
                            //    animation: true,
                            //    ariaLabelledBy: 'modal-title-bottom',
                            //    ariaDescribedBy: 'modal-body-bottom',
                            //    templateUrl: 'newRequestModal.html',
                            //    backdrop: true,
                            //    size: 'sm',
                            //    controller: function ($scope, $rootScope) {

                            //        $scope.newRequest = request;

                            //    }
                            //});



                        }

                        pushNotificationProxy.client.cancelMyRequest = function (requestID) {

                            console.log(requestID);

                            var array = $scope.pendingRequest;

                            var pendingBids = $scope.pendingBids;

                            for (var i = array.length - 1; i >= 0; i--) {
                                if (array[i].ID === requestID) {
                                    array.splice(i, 1);
                                    $scope.$apply();
                                }
                            }

                            for (var i = pendingBids.length - 1; i >= 0; i--) {
                                if (pendingBids[i].ID === requestID) {
                                    array.splice(i, 1);
                                    $scope.$apply();
                                }
                            }



                        }


                    });

                </script>

            }



